:root{
    --cor-titulo: #FFFFFF;
    --cor-texto-descricao: #F9F9F9;
    --cor-texto-pequeno: #c0c0c0;
    --bg-btn: #167BF7;
    --fonte-principal: 'Inter', sans-serif;
}

body{
    background-color: #00030C;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("../img/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    color: var(--cor-titulo);
    font-size: 1.875rem;
    font-weight: 700;
}

.container__img{
    max-width: 348px;
    max-height: 100px;
    margin: 1em 0 2em 0;
}

.container__btn{
    color: var(--cor-titulo);
    background-color: var(--bg-btn);
    line-height: 150%;
    padding: 1em;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.btn-sem-bg{
    background-color: transparent;
    border: 1px solid var(--cor-titulo);
}

.container__aviso{
    color: var(--cor-texto-pequeno);
    font-size: 0.75rem;
    margin-top: 10px;
}

.plataformas{
    display: flex;
    align-items: center;
    margin-bottom: 151px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 588px;
}

.img-plataforma{
    max-width: 498px;
    max-height: 560px;
    margin-right: 69px;
}

.titulo{
    font-size: 3rem;
    font-weight: bold;
    color: var(--cor-titulo);
    line-height: 120%;
}

.descricao{
    font-size: 1rem;
    color: var(--cor-texto-descricao);
    line-height: 150%;
}

.btn-menor{
    margin-top: 16px;
    max-width: 162.68px;
}

.img-telas{
    max-width: 496px;
    max-height: 338.96px;
    margin-left: 70px;
}

.baixar-cursos{
    display: flex;
    align-items: center;
    margin-top: calc(226.04px - 151px);
    margin-bottom: 264px;
}

.img-notebook{
    max-width: 547px;
    max-height: 324px;
    margin-right: 44px;
}

.nome-dispositivo{
    color: var(--cor-titulo);
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
}

.dispositivos{
    margin-bottom: 145px;
}

.icone-dispositivos{
    margin-top: 40px;
    display: flex;
}

.img-dispositivo{
    max-width: 339px;
    max-height: 192px;
}

footer{
    margin-bottom: 99.01px;
}

.conteudo-footer{
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    max-width: 102px;
    max-height: 35.28px;
    margin-bottom: 40.71px
}

.links-footer{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.links-footer .link{
    color: var(--cor-titulo);
    text-decoration: none;
}

.copyright{
    color: var(--cor-texto-pequeno);
    text-align: center;
}
